.foot {
  align-items: center;
  background: $blue;
  display: flex;
  flex-direction: column;
  grid-row: 3;
  justify-content: space-between;
  padding: 20px;
}

.foot-text {
  color: $white;
  font-size: $text-medium;
  text-transform: uppercase;
}

.foot-logo {
  height: 45px;
  margin: 15px;
}

.foot-copy {
  align-self: flex-end;
  color: $white;
  font-size: $text-small;
}
