@media only screen and (max-width: 1024px) {
  .navbar {
    height: $nav-height + 20px;
  }
  
  .navbar-logo {
    height: $nav-logo-height + 20px;
  }
  
  .navbar-text {
    visibility: hidden;
  }

  .app-container {
    grid-template-rows: ($nav-height + 20px) 1fr auto;
  }
  
  .title {
    margin: 90px 60px 20px ;
  }

  .tech-box-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }

  .tech-box {
    border-bottom: 2px solid $green; 
    margin: 20px 60px;
  }

  .tech-box:first-child {
    border-right: 0; 
    grid-column: auto;
    grid-row: auto;
    justify-content: center;
  }

  .tech-box:last-child {
    border-bottom: 0;
  }

  .foot {
    padding: 40px;
  }

  .foot-logo {
    height: 45px;
    margin: 15px 15px 45px;
  }

  .foot-copy {
    align-self: center;
  }
}
