$tech-box-border-radius: 10px;
$tech-box-height: 450px;
$tech-box-width: 300px;
$tech-logo-size: 100px;
$tech-text-margin: 10px;

.tech-box {
  align-items: center;
  background-color: $green;
  border-radius: $tech-box-border-radius;  
  display: flex;
  flex-direction: column;
  height: $tech-box-height;
  margin: 35px;
  padding: 40px;
  position: relative;
  text-align: center;
  width: $tech-box-width;

  &::before {
    content: '';
    border: 1px solid $green;
    border-radius: $tech-box-border-radius;    
    bottom: 10px;
    height: $tech-box-height;
    position: absolute;
    right: 10px;
    width: $tech-box-width;
    z-index: -1;
  }
}

.tech-box-logo {
  margin: 10px;
  width: $tech-logo-size;
}

.tech-box-title {
  font-size: $box-title-size;
  margin-bottom: $tech-text-margin;
}

.tech-box-launch {
  font-size: $box-launch-text-size;
  font-weight: bold;
  margin-bottom: $tech-text-margin;
}

.tech-box-text {
  font-size: $box-text-size;
}

.tech-box-title, 
.text-box-launch, 
.tech-box-text { 
  color: $black; 
}
