$tech-logo-size: 100px;
$tech-text-margin: 10px;

.tech-box-list {
  align-items: start;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 80px;
  width: 1100px; //arbitrary value
}

.tech-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px;
  position: relative;
  text-align: center;

  &:first-child {
    border-right: 2px solid $green; 
    grid-column: 1;
    grid-row: 1 / 3;
    height: 100%;
    justify-content: center;
    justify-self: stretch;
  }
}

.tech-box-logo {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.tech-box-title {
  font-size: $box-title-size;
}

.tech-box-launch {
  font-size: $box-launch-text-size;
  font-weight: bold;
}

.tech-box-text {
  font-size: $box-text-size;
}

.tech-box-title, 
.text-box-launch, 
.tech-box-text { 
  color: $black; 
}

.tech-box-logo,
.tech-box-title,
.tech-box-launch {
  margin-bottom: $tech-text-margin;
}

@media only screen and (max-width: 1024px) {
  .tech-box-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }

  .tech-box {
    border-bottom: 2px solid $green; 
    margin: 20px 60px;
  }

  .tech-box:first-child {
    border-right: 0; 
    grid-column: auto;
    grid-row: auto;
    justify-content: center;
  }

  .tech-box:last-child {
    border-bottom: 0;
  }
}
