.title {
  color: $black;
  font-size: $title-size;
  height: 220px;
  margin-left: 80px;

  &::before{
    content: url(assets/triangle.svg);
    display: block;
    position: relative;
    right: 78px;
    top: 80px;
    width: 100px;
    z-index: -1;
  }
}
