doctype html
html(lang='en')
  head
    title Developer Tools
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='./index.js' as='script')
    link(rel='preload' href='./vendor.js' as='script')
    link(rel='preload' href='styles.index.css' as='style')
    link(rel='stylesheet' href='styles.index.css')
    script(src='./vendor.js')
  body
    #app.app-container(v-cloak)
      nav.navbar
        .navbar-header
          img.navbar-logo(src='/assets/wolox_logo.svg')
          h1.navbar-text Developer Tools
        .filter-container
          span.filter-count
            | {{ countTechs }} Tecnología(s)
          input.filter-input(type="text" placeholder="Filtrar" v-model="filter")
      transition(name="slide-fade" mode="out-in")
        .main(v-if="haveData")
          .tech-list(
            v-for="(techGroup, index) in filteredTechs"
            :key="index"
          )
            .title {{ techGroup.title }}
            transition-group(name="slide-fade" tag="div").tech-box-list
              tech-box(
                v-for="(tech, index) in techGroup.techsList"
                :key="index"
                :tech="tech"
              )
        message-no-data(v-else) No se encontraron techs
      footer.foot
        span.foot-text We are game changers
        img.foot-logo(src='/assets/wolox_logo_white.svg')
        span.foot-copy Copyright 2018. Wolox. All right reserved.
    script(src='./index.js')
