@import '../../../../../../../scss/colors.scss';

.move {
  background: $white;
  border: 1px solid $dusty-gray;
  border-radius: 10px;

  &:hover{
    background: $mine-shaft;
    color: $white;
  }
}
