* {
  font-family: $roboto;
}

[v-cloak] { // stylelint-disable-line selector-max-attribute
  display: none;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $nav-height + $filter-height;
  width: 100%;
}

.tech-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tech-box-list {
  align-items: start;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 80px;
  max-width: $desktop-device-width;
  width: 100%;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.slide-fade-move {
  transition: transform 1s;
}

@media only screen and (max-width: $desktop-device-width) {
  .tech-box-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }
}
