// @import url('https://fonts.googleapis.com/css?family=Montserrat:700');

* {
  font-family: $roboto;
}

[v-cloak] { // stylelint-disable-line selector-max-attribute
  display: none;
}

.app-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $nav-height 1fr auto;
}

.main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  padding: 20px;
}

// .page {
//   align-items: center;
//   background-color: $wolox-blue;
//   background-image: url('../../assets/wolox_bg.png');
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   padding: 100px 0;
// }

// .logo {
//   max-width: 350px;
//   margin-bottom: 50px;
// }

// .title {
//   color: $white;
//   font-size: 30px;
//   font-weight: 500;
//   font-family: Montserrat, sans-serif;
// }
