.foot {
  align-items: center;
  background: $wolox-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.foot-text {
  color: $white;
  font-size: $text-medium;
  text-transform: uppercase;
}

.foot-logo {
  height: 45px;
  margin: 15px;
}

.foot-copy {
  align-self: flex-end;
  color: $white;
  font-size: $text-small;
}

@media only screen and (max-width: $desktop-device-width) {
  .foot {
    padding: 40px;
  }

  .foot-logo {
    height: 45px;
    margin: 15px 15px 45px;
  }

  .foot-copy {
    align-self: center;
  }
}
