@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.app {
  font: $font-body-size $century-gothic;
  padding: 0;
  text-align: center;
}

.app-topbar {
  background-color: $mine-shaft;
  color: $white;
}

.app-userbar {
  align-self: center;
  display: flex;
  flex-direction: row;
  grid-area: nav;
  justify-content: center;
  justify-self: flex-end;
  margin: 10px;
}
