@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.app {
  font: $font-body-size $century-gothic;
  padding: 0;
  text-align: center;
}
// TODO: pass this style to Topbar
.app-topbar {
  background-color: $mine-shaft;
  color: $white;
}
