@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.dashboard {
  align-items: center;
  border: 1px solid $dusty-gray;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: 25px 150px 25px;
  padding: 10px;
}

.dashboard-title {
  font-size: $font-dashboard-title;
  font-weight: normal;
}

.dashboard-avatar {
  border: 5px solid $malibu;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.dashboard-user-info {
  list-style-type: none;

  & li {
    text-align: left;
  }

  & li span {
    font-weight: bold;
  }
}
