$century-gothic: 'Century Gothic', Futura, sans-serif;
$font-body-size: 14px;
$font-title-app-size: 20px;
$font-label-size: 10px;
$font-square-size: 24px;
$font-login-message: 12px;
$font-login-submit: 18px;
